/**
 * Breakpoints
 */
$breakpoints: (
        xxs: 439px,
        xs: 499px,
        sm: 767px,
        md: 991px,
        lg: 1199px,
        xl: 1399px,

);

/**
 * Body
 */
$font-body          :   'Gilroy', sans-serif;

/**
 * Colors
 */

$color-primary      :   #1C9DE3;
$color-secondary    :   #0B2837;
$color-blue         :   #19385E;
$color-blue-dark    :   #011a3b;
$color-blue-light   :   #E3EFFF;
$color-blue-indigo  :   #426EAA;
$color-blue-super   :   #4289EE;
$color-black        :   #141316;
$color-dark-alt     :   #292929;
$color-gray         :   #696969;
$color-gray-light   :   #FAFCFF;
$color-gray-dark    :   #bcbcbc;
$color-yellow       :   #ff9600;
$color-text         :   #ACACAC;
$color-white        :   #fff;
$color-light        :   #E7E5E5;
$color-red          :   #ff4747;
$color-red-strong   :   #67062a;
$color-green        :   #00CC33;
$color-purple       :   #7C62E3;
$color-pink         :   #e01d4f;
$color-orange       :   #F95738;
