.categories {

  .one {
    height: 550px;
    @include media(lg) {
      height: 400px;
    }


  }

  .two {
    height: 520px;
    @include media(lg) {
      height: 420px;
    }
  }

  .three {
    height: 428px;
    @include media(lg) {
      height: 380px;
    }
  }

  .one,
  .two,
  .three {
    @include media(sm) {
      height: 190px;
    }
  }

  [class*=col-] {
    margin-bottom: 30px;
    @include media(sm) {
      margin-bottom: 20px;
    }
  }

  &__item {
    background: $color-blue-indigo;
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    @include media(sm) {

    }

    &.full {
      background-image: url("../images/categories-item-background.png");
      background-position: center bottom;
      background-repeat: repeat-x;
      @include media(sm) {
        background-image: none;
      }

      .categories__item {

        &-text {
          max-width: 540px;
        }

        &-list {
          columns: 2;
          column-gap: 30px;
        }

      }
    }

    &.mini {

      .categories__item-text {
        padding: 30px 0 30px 30px;
        @include media(lg) {
          padding: 30px 0 30px 30px;
        }
        @include media(sm) {
          padding: 0;
        }
      }
    }

    img {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      height: auto;
      @include media(sm) {
        position: relative;
        margin-left: auto;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 0 60px 60px;
      max-width: 340px;
      position: relative;
      z-index: 3;
      @include media(lg) {
        padding: 30px 0 30px 30px;
      }
      @include media(sm) {
        padding: 0;
        position: absolute;
        z-index: 3;
        top: 25px;
        bottom: 25px;
        left: 25px;
      }

      &-footer {
        .btn {
          span {
            @include media(sm) {
              display: none;
            }
          }
          i {
            font-style: normal;
            display: none;
            @include media(sm) {
              display: block;
            }
          }
        }
      }
    }

    &-title {
      font-size: 36px;
      color: #fff;
      font-weight: 500;
      @include media(xl) {
        font-size: 30px;
      }
      @include media(sm) {
        font-size: 18px;
        margin: 0;
        max-width: 200px;
      }
    }

    &-list {
      font-weight: 500;
      font-size: 16px;
      @include media(sm) {
        display: none;
      }

      > li {

        &:not(:last-child) {
          margin: 0 0 10px 0;
        }

        a {
          color: #FFFFFF;
          line-height: 1.2;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

  }

}
