.filter {
  position: sticky;
  top: 90px;
  @include media(xl) {
    top: 70px;
  }
  @include media(lg) {
    top: 60px;
  }
  @include media(md) {
    position: static;
  }

  &__col {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 25px 0;

    &:last-child {
      border-bottom-color: transparent;
    }

    &-title {

    }

  }

  &__range {

    &-inputs {
      display: flex;
      align-items: center;
      margin: 0 0 30px 0;
      @include media(md) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 15px 0;
      }

      span {
        font-size: 15px;
        margin: 0 10px 0 0;
        color: $color-gray;
        @include media(md) {
          display: block;
          margin: 0 0 5px 0;
        }
      }

      [type="text"] {
        border: 1px solid #D3D3D3;
        border-radius: 5px;
        width: 100px;
        height: 33px;
        font-size: 12px;
        color: $color-gray;
        padding: 0 12px;
        margin: 0 10px 0 0;
        @include media(xl) {
          width: 90px;
        }
        @include media(md) {
          width: 100%;
          margin: 0 0 15px 0;
        }
      }
    }

  }

  &__order {
    position: relative;

    &-link {
      border-radius: 5px;
      border: 1px solid $color-blue-super;
      color: $color-blue-super;
      @include media(md) {
        width: 100%;
      }

      &:hover {
        color: $color-blue-super;
        background-color: transparent;
        border-color: $color-blue-super;
      }
    }

    &-select {
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin: 0;
      font-size: 14px;
      position: absolute;
      z-index: 95;
      left: 0;
      min-width: 285px;
      margin-top: 10px;
      display: none;
      @include media(xl) {
        min-width: 250px;
      }
      @include media(md) {
        position: static;
        max-width: unset;
        width: 100%;
        min-width: unset;
      }

      &.active {
        display: block;
      }

      > li {
        &:last-child {
          > a {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
        &:first-child {
          > a {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
        }
        > a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 46px;
          color: $color-gray;
          padding: 0 15px;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            background: #F4F4F4;
          }

          &.active {
            background: #F4F4F4 url("../images/icons/check.svg") 95% center no-repeat;
          }
        }
      }
    }
  }

  &__check {

    &-list {
      margin: 0;

      > li {
        min-height: 26px;

        &:not(:last-child) {
          margin: 0 0 20px 0;
        }

        label {
          position: relative;
          font-size: 14px;
          padding: 4px 0 0 35px;
          color: $color-gray;
          cursor: pointer;

          span {
            text-decoration: underline;
          }

          &::before {
            $size: 25px;

            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #D3D3D3;
            border-radius: 5px;
            width: $size;
            height: $size;
            background-color: transparent;
          }
        }

        input {
          &[type="checkbox"] {
            position: absolute;
            z-index: -1;
            opacity: 0;
            left: -99999px;

            &:checked {
              + label {
                &::before {
                  background: url("../images/icons/check.svg") center center no-repeat;
                  border-color: $color-blue;
                  background-size: 45%;
                }

                span {
                  text-decoration: none;
                }
              }
            }
          }
        }

      }
    }

  }

}
