.footer {
  position: relative;
  z-index: 1;
  background-color: #F8FBFF;
  padding: 80px 0 0 0;
  @include media(xl) {
    padding: 40px 0 0 0;
  }

  &__top {
    padding: 0 0 60px 0;
    @include media(lg) {
      padding: 0 0 30px 0;
    }

    &-row {
      $left-width: 230px;

      display: flex;
      flex-wrap: wrap;

      &-left,
      &-right {

      }

      &-left {
        width: $left-width;
        @include media(md) {
          width: 100%;
          margin: 0 0 15px 0;
        }
      }

      &-right {
        width: calc(100% - #{$left-width});
        padding: 0 0 0 150px;
        @include media(xl) {
          padding: 0 0 0 50px;
        }
        @include media(md) {
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(66, 110, 170, 0.1);
    padding: 40px 0;
    @include media(lg) {
      padding: 20px 0;
    }

    &-row {
      $left-width: 280px;
      $left-width-lg: 280px;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &-left,
      &-right {
        display: flex;
        align-items: center;
      }

      &-left {
        width: $left-width;
        @include media(lg) {
          width: $left-width-lg;
          padding: 0 30px 0 0;
        }
        @include media(sm) {
          width: 100%;
          padding: 0 0 15px 0;
        }

        small {
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          color: $color-blue;
          @include media(lg) {
            font-size: 13px;
          }
          @include media(sm) {
            font-size: 14px;
          }
        }
      }

      &-right {
        width: calc(100% - #{$left-width});
        @include media(lg) {
          width: calc(100% - #{$left-width-lg});
        }
        @include media(sm) {
          width: 100%;
        }

        p {
          margin: 0;
          padding: 0;
          margin-left: auto;
          max-width: 1050px;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.1;
          color: $color-gray;
          @include media(lg) {
            font-size: 13px;
          }
          @include media(sm) {
            font-size: 12px;
          }
        }
      }
    }

  }

  &__title {
    margin: 0 0 20px 0;
    font-weight: 500;
    @include media(lg) {
      white-space: nowrap;
    }

    &.contact {
      @include media(sm) {
        margin: 35px 0 20px 0;
        font-size: 24px;
      }
    }

    &.socials {
      @include media(sm) {
        font-size: 24px;
        margin: 0 0 15px 0;
      }
    }

    &.menu {
      @include media(sm) {
        position: relative;
        font-size: 18px;
        margin: 0;
        height: 70px;
        border-bottom: 1px solid rgba(66, 110, 170, 0.1);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }

      &::after {
        @include media(sm) {
          $size: 12px;

          content: '';
          display: block;
          width: $size;
          height: $size;
          position: absolute;
          top: 50%;
          margin-top: -6px;
          right: 0;
          background: url('../images/icons/arrow-bottom.svg') right center no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  &__socials {
    $gutter: 10px;

    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};

    > li {
      padding: 0 $gutter;

      img, svg {
        @include media(xl) {
          height: 20px;
        }
      }
    }
  }

  &__columns {
    $gutter: 15px;

    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
    @include media(sm) {
      flex-wrap: wrap;
    }

    > li {
      padding: 0 $gutter;
      @include media(sm) {
        width: 100%;
      }

      &.active {
        .footer {
          &__columns {
            &-list {
              @include media(sm) {
                display: block;
              }
            }
          }
          &__title {
            @include media(sm) {
              border-bottom-color: transparent;
            }

            &.menu {
              &::after {
                @include media(sm) {
                  transform: rotate(-180deg);
                }
              }

            }
          }
        }
      }
    }

    &-list {
      margin: 0;
      font-size: 16px;
      @include media(lg) {
        font-size: 14px;
      }
      @include media(sm) {
        display: none;
        padding: 0 0 30px 0;
        border-bottom: 1px solid rgba(66, 110, 170, 0.1);
      }

      > li {

        &:not(:last-child) {
          margin: 0 0 15px 0;
          @include media(lg) {
            margin: 0 0 8px 0;
          }
        }

        a {
          color: $color-blue;
        }
      }
    }

    &-contacts {
      margin: 0 0 25px 0;

      > li {

        &:not(:last-child) {
          margin: 0 0 15px 0;
        }

        small {
          display: block;
          font-size: 14px;
          color: rgba(25, 56, 94, 0.5);
          line-height: 1.1;
          margin: 0 0 5px 0;
          white-space: nowrap;
          @include media(sm) {
            font-size: 14px;
          }
        }

        span,
        a {
          font-size: 24px;
          line-height: 1.1;
          color: $color-blue;
          font-weight: 500;
          white-space: nowrap;

          @include media(xl) {
            font-size: 18px;
          }
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

}
