.header_mobile {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include media(md) {
    display: block;
  }

  &__row {
    $height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    position: relative;
  }

  &__logo {
    position: relative;
    z-index: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    z-index: 1;

    a {
      display: flex;
      align-items: center;

      &:not(:last-child){
        margin-right: 30px;
      }
    }

    &-burger {
      display: block;
      width: 20px;
      height: 15px;
      position: relative;

      span {
        display: block;
        height: 3px;
        background-color: $color-blue;
        border-radius: 12px;
        position: absolute;
        left: 0;
        right: 0;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          margin-top: -1px;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
  }

  &__search {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;

    &.active {
      display: flex;
    }

    .close {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -12px;
      width: 45px;
      background: url("../images/icons/close.svg") center center no-repeat;
      display: block;
      z-index: 3;
    }

    form {
      width: 100%;
      height: 100%;
    }

    [type="text"],
    [type="search"] {
      border: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background: #fff;
      height: 100%;
      font-weight: normal;
      font-size: 12px;
      color: $color-blue;
      position: relative;
      z-index: 1;
      padding: 0 50px 0 0;

      @include placeholder {
        color: $color-gray;
      }
    }
  }

  &__menu {
    $item-height: 60px;

    position: fixed;
    z-index: 98;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-110%);
    background-color: #fff;
    overflow: auto;
    display: none;

    @include media(md) {
      display: block;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
      color: $color-blue;
      height: $item-height;
      position: relative;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;
        right: -15px;
        z-index: -1;
        background-color: $color-blue-light;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    &-content {
      padding: 0 0 30px 0;
    }

    &-list {
      margin: 0 0 25px 0;

      > li {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: -15px;
          right: -15px;
          height: 1px;
          background: #E8F3F8;
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: $item-height;
          font-weight: 600;
          font-size: 15px;
          line-height: 1.1;
          text-transform: uppercase;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }

        > ul {
          display: none;
          margin: 0 0 15px 0;

          > li {
            display: block;

            &:not(:last-child) {
              margin: 0 0 6px 0;
            }
          }
        }

        &.active {
          > a {
            img {
              transform: rotate(-180deg);
            }
          }
          > ul {
            display: block;
          }
        }

      }
    }

    &-locations {
      margin: 0 0 35px 0;

      > li {
        font-size: 14px;

        &:not(:last-child) {
          margin: 0 0 14px 0;
        }

        a {
          position: relative;
          display: inline-flex;
          padding: 0 0 0 20px;
          background: url('../images/icons/pin.svg') left 4px no-repeat;
          text-decoration: underline;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

    .header {

      &__contacts {
        flex-direction: column;
        margin: 0 0 25px 0;

        > li {
          &:not(:last-child) {
            margin: 0 0 20px 0;
          }
        }

        &-cell {
          padding: 0 0 0 50px;

          &.phone {
            background-position: 5px top;
          }
        }

      }
    }
  }
}

.menu__active {
  overflow: hidden;
  .header_mobile__menu {
    transform: translateY(0);
  }
}
