.intro_column {

  &__row {
    $right-width: 60%;
    $right-width-lg: 50%;

    display: flex;
    flex-wrap: wrap;

    &-left {
      width: calc(100% - #{$right-width});
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 30px 0 0;
      @include media(lg) {
        width: calc(100% - #{$right-width-lg});
      }
      @include media(md) {
        width: 100%;
        padding: 0;
        order: 2;
      }
    }

    &-right {
      width: $right-width;
      display: flex;
      margin-left: auto;
      max-width: 900px;
      @include media(lg) {
        width: $right-width-lg;
      }
      @include media(md) {
        width: 100%;
        padding: 0;
        order: 1;
        max-width: unset;
      }

      &.no {
        &-maxwidth {
          max-width: unset;

        }
      }

    }
  }

  &__header {
    margin: 0 0 25px 0;
    @include media(sm) {
      margin: 0;
    }
  }

  &__excerpt {
    font-weight: normal;
    font-size: 18px;
    color: $color-gray;
    padding: 20px 0 0 0;
    margin: 0 0 35px 0;
    position: relative;
    @include media(md) {
      margin: -15px 0 15px 0;
      padding: 0;
      font-size: 16px;
    }

    &.desctope {
      @include media(md) {
        display: none;
      }
    }

    &.mobile {
      display: none;
      @include media(md) {
        display: block;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    max-width: 530px;
    margin: 0;

    @include media(xl) {
      font-size: 36px;
    }
    @include media(lg) {
      font-size: 32px;
    }

    &.mobile {
      display: none;
      font-size: 24px;
      max-width: unset;
      margin: 0 0 20px 0;
      @include media(md) {
        display: block;
      }
    }

    &.desctope {
      @include media(md) {
        display: none;
      }
    }
  }

  &__footer {

    &-list {
      $icon-width: 40px;
      $icon-width-md: 30px;

      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: $color-blue;
      @include media(lg) {
        font-size: 14px;
      }

      > li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin: 0 0 15px 0;
        }

        > div {
          width: $icon-width;
          @include media(md) {
            width: $icon-width-md;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          img,
          svg {
            @include media(md) {
              height: 19px;
            }
          }
        }

        span {
          width: calc(100% - #{$icon-width});

          strong {
            font-weight: normal;
            color: $color-gray;
          }

        }
      }
    }

    &-btn {
      display: flex;
      padding: 40px 0 0 0;
      @include media(lg) {
        padding: 15px 0 0 0;
      }
      @include media(xs) {
        flex-direction: column;
      }

      .btn {
        @include media(xs) {
          max-width: 320px;
          width: 100%;
        }
        &:not(:first-child) {
          margin: 0 0 0 30px;
          @include media(lg) {
            margin: 0 0 0 6px;
          }
          @include media(xs) {
            margin: 0;
          }
        }
        &:not(:last-child) {
          @include media(xs) {
            margin: 0 0 15px 0;
          }
        }
      }
    }

  }

  &__slider {
    position: relative;
    padding: 0 110px 0 0;
    display: block;
    width: 100%;
    @include media(lg) {
      padding: 0 80px 0 0;
    }
    @include media(md) {
      padding: 0;
    }

    &-big {
      img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-thumb {
      position: absolute;
      width: 90px;
      top: 0;
      bottom: 0;
      right: 0;
      @include media(lg) {
        width: 60px;
      }
      @include media(md) {
        display: none;
      }

      img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        cursor: pointer;
      }

      .swiper {
        &-slide {
          width: 90px;
          height: 60px;
          @include media(lg) {
            width: 60px;
            height: 50px;
          }

          &-thumb {
            &-active {
              img {
                border-color: $color-blue-indigo;
              }
            }
          }

        }
      }

    }

    .swiper {
      &-pagination {
        display: none;
        justify-content: center;
        bottom: unset;
        height: 25px;
        @include media(md) {
          display: flex;
          padding: 15px 0;
        }
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;

    &.is {
      &-share {
        padding-right: 130px;
        @include media(xl) {
          padding-right: 110px;
        }
        @include media(lg) {
          padding-right: 90px;
        }
        @include media(md) {
          padding-right: 0px;
        }
      }
    }

    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__share {
    $size: 40px;
    $size-lg: 30px;

    position: absolute;
    right: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: $size;
    @include media(lg) {
      width: $size-lg;
    }
    @include media(md) {
      display: none;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      position: relative;
      transform: rotate(-90deg);
      top: -40px;
      left: -2px;
      color: $color-blue;
      @include media(xl) {
        font-size: 14px;
        top: -30px;
        left: -1px;
      }
      @include media(lg) {
        font-size: 12px;
        top: -20px;
      }
    }

    ul {

      > li {

        &:not(:last-child) {
          margin: 0 0 5px 0;
        }

        a {
          display: flex;
          width: $size;
          height: $size;
          @include media(lg) {
            width: $size-lg;
            height: $size-lg;
          }
        }
      }

      img,
      svg {
        height: $size;
        @include media(lg) {
          width: $size-lg;
        }
      }

    }

  }

}
