.news {

  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    > li {
      display: flex;
      padding: 0 15px;
      width: 25%;
      margin: 0 0 30px 0;
      @include media(md) {
        width: 50%;
        margin: 0 0 25px 0;
      }

    }

    &.column {
      &-3 {
        > li {
          width: 33.32%;
          @include media(sm) {
            width: 50%;
          }
          @include media(xs) {
            width: 100%;
          }
        }
      }
    }

    &-item {
      display: block;
      margin: 0;
      width: 100%;

      a {
        display: block;
        width: 100%;

        img {
          @include media(md) {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }

      &:hover {
        text-decoration: none;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      img {
        border-radius: 6px;
        margin: 0 0 15px 0;
        @include media(md) {
          margin: 0 0 10px 0;
        }
      }

      &-labels {
        margin: 0 0 10px 0;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        @include media(md) {
          margin: 0 0 5px 0;
          text-transform: none;
        }

        > li {
          font-weight: bold;
          font-size: 12px;
          position: relative;
          padding: 0 0 0 11px;
          color: #2B63E3;
          @include media(md) {
            font-size: 10px;
          }

          &:not(:last-child) {
            margin: 0 10px 0 0;
          }

          &::before {
            $size: 4px;

            content: '';
            width: $size;
            height: $size;
            border-radius: 50%;
            background-color: $color-blue-indigo;
            position: absolute;
            left: 0;
            top: 4px;
          }

          &:first-child {
            padding: 0;
            font-weight: normal;
            color: $color-blue;

            &::before {
              display: none;
            }
          }


        }
      }

      &-title {
        line-height: 1.2;
        margin: 0;
        @include media(md) {
          font-weight: 600;
          font-size: 12px;
        }
      }
    }

  }


}
