.search_form {
  margin: 0 0 60px 0;
  @include media(xl) {
    margin: 0 0 30px 0;
  }
  @include media(md) {
    display: none;
    margin: 0 0 20px 0;
  }

  &.active {
    @include media(md) {
      display: block;
    }
  }

  &__form {
    $button-width: 200px;
    $button-width-lg: 175px;
    $button-width-xs: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    [type="text"],
    [type="search"] {
      width: calc(100% - #{$button-width} - 40px);
      border: 1px solid $color-blue-light;
      background: $color-blue-light url('../images/icons/search-mobile.svg') 98% center no-repeat;
      border-radius: 99px;
      padding: 0 30px;
      @include placeholder {
        color: $color-blue-indigo;
      }
      @include media(lg) {
        width: calc(100% - #{$button-width-lg} - 15px);
      }
      @include media(md) {
        background-image: none;
        padding: 0 18px;
      }
      @include media(xs) {
        width: calc(100% - #{$button-width-xs} - 10px);
      }
    }

    [type="submit"] {
      width: $button-width;
      padding: 0;
      @include media(lg) {
        width: $button-width-lg;
      }
      @include media(xs) {
        width: $button-width-xs;
      }
    }

  }

}
