.title_page {
  margin: 0 0 35px 0;
  @include media(xl) {
    margin: 0 0 20px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    @include media(xl) {
      font-size: 36px;
    }
    @include media(lg) {
      font-size: 32px;
    }
    @include media(sm) {
      font-size: 28px;
    }
    @include media(xs) {
      font-size: 24px;
    }
  }
}
