.form {
    position: relative;
    z-index: 1;

    &.loader {
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 5;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.75) url("../images/loader.svg") center center no-repeat;
        }
    }
}
