.noUi {

  &-horizontal {
    height: 3px;

    .noUi-handle {
      right: 0px;

      &-lower {
        right: -16px;
      }
    }
  }

  &-target {
    background-color: $color-blue-light;
    box-shadow: unset;
    border: none;
  }

  &-connect {
    background-color: $color-blue-indigo;
    border-radius: 0;
  }

  &-handle {
    $size: 16px;

    width: $size !important;
    height: $size !important;
    border-radius: 50%;
    background-color: $color-blue-indigo;
    border: none;
    box-shadow: unset;

    &::after {
      display: none;
    }

    &::before {
      $size: 6px;

      content: '';
      display: block;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -3px;
      margin-left: -3px;
    }
  }
}
