.reviews {

  &__listing {
    margin: 0 0 30px 0;

    > li {
      padding: 0 0 50px 0;
      border-bottom: 1px solid $color-blue-light;
      @include media(xl) {
        padding: 0 0 30px 0;
      }

      &:not(:last-child) {
        margin: 0 0 50px 0;
        @include media(xl) {
          margin: 0 0 30px 0;
        }
      }
    }

    &-row {
      $left-width: 500px;
      $left-width-xl: 400px;
      $left-width-lg: 300px;
      $left-width-md: 200px;

      display: flex;
      flex-wrap: wrap;

      &-left {
        width: $left-width;
        padding: 0 30px 0 0;
        @include media(xl) {
          width: $left-width-xl;
        }
        @include media(lg) {
          width: $left-width-lg;
        }
        @include media(md) {
          width: $left-width-md;
        }
        @include media(sm) {
          width: 100%;
        }
      }

      &-right {
        width: calc(100% - #{$left-width});
        @include media(xl) {
          width: calc(100% - #{$left-width-xl});
        }
        @include media(lg) {
          width: calc(100% - #{$left-width-lg});
        }
        @include media(md) {
          width: calc(100% - #{$left-width-md});
        }
        @include media(sm) {
          width: 100%;
        }
      }
    }

    &-rating {
      border-radius: 5px;
      display: inline-block;
      color: #fff;
      padding: 5px 10px 5px 30px;
      background-position: 10px 6px;
      background-repeat: no-repeat;
      margin: 0 0 20px 0;
      font-weight: 600;
      font-size: 12px;
      @include media(xl) {
        font-size: 11px;
      }
      @include media(lg) {
        margin: 0 0 10px 0;
      }
      @include media(sm) {
        margin: 0 0 20px 0;
        font-size: 12px;
      }

      &.like {
        background-image: url("../images/icons/rating-like.svg");
        background-color: $color-green;
      }

      &.dislike {
        background-image: url("../images/icons/rating-dislike.svg");
        background-color: $color-orange;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 26px;
      color: $color-blue;
      margin: 0 0 20px 0;
      @include media(xl) {
        font-size: 20px;
      }
      @include media(lg) {
        font-size: 16px;
        margin: 0 0 10px 0;
      }
      @include media(sm) {
        font-size: 18px;
      }
    }

    &-date {
      color: rgba(0, 93, 149, 0.5);
      padding: 0 0 0 30px;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.1;
      background: url("../images/icons/pencil.svg") left center no-repeat;
      background-size: 15px;
      @include media(sm) {
        margin: 0 0 15px 0;
      }
    }

    &-excerpt {
      font-size: 24px;
      line-height: 1.5;
      color: $color-blue;
      max-height: 110px;
      overflow: hidden;
      max-width: 875px;
      @include media(xl) {
        font-size: 18px;
      }
      @include media(lg) {
        font-size: 16px;
        max-height: 70px;
      }
      @include media(md) {
        font-size: 14px;
        max-height: 60px;
      }

      &.active {
        max-height: unset;
        overflow: unset;
      }

      &-collapse {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.1;
        color: $color-blue-super;
        display: inline-flex;
        margin: 25px 0 0 0;
        text-decoration: underline;
        position: relative;
        @include media(xl) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: none;
        }

        &.active {
          &::after {
            transform: translateY(-50%) rotate(-180deg);
          }
        }

        &::after {
          $size: 12px;
          $size-xl: 10px;

          content: '';
          width: $size;
          height: $size;
          display: block;
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
          background: url("../images/icons/arrow-bottom.svg") center center no-repeat;
          background-size: contain;
          @include media(xl) {
            width: $size-xl;
            height: $size-xl;
          }
        }
      }
    }

    &-original {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.1;
      color: $color-blue;
      margin: 30px 0 0 0;
      @include media(xl) {
        font-size: 14px;
      }
      @include media(sm) {
        margin: 15px 0 0 0;
      }

      &:hover {
        text-decoration: none;
      }

      img,
      svg {
        margin: 0 15px 0 0;
      }
    }
  }
}
