.home_intro {
  background: $color-blue-indigo url("../images/home-intro-background.png") center bottom no-repeat;
  @include media(md) {
    background-image: none;
  }

  &__row {
    $left-width: 600px;
    $left-width-xl: 430px;
    $left-width-lg: 360px;

    display: flex;
    flex-wrap: wrap;
    padding: 0 300px 0 0;
    position: relative;
    @include media(xl) {
      padding: 0 250px 0 0;
    }
    @include media(lg) {
      padding: 0 200px 0 0;
    }
    @include media(md) {
      padding: 30px 0 0 0;
    }
    @include media(sm) {
      padding: 30px 0 35px 0;
    }


    &-left,
    &-right {
      min-height: 660px;
      @include media(xl) {
        min-height: 580px;
      }
      @include media(md) {
        min-height: unset;
      }
    }

    &-left {
      width: $left-width;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include media(xl) {
        width: $left-width-xl;
      }
      @include media(lg) {
        width: $left-width-lg;
      }
      @include media(md) {
        width: 100%;
      }
    }

    &-right {
      width: calc(100% - #{$left-width});
      display: flex;
      align-items: flex-end;
      @include media(xl) {
        width: calc(100% - #{$left-width-xl});
      }
      @include media(lg) {
        width: calc(100% - #{$left-width-lg});
      }
      @include media(md) {
        width: 100%;
        display: none;
      }
    }

  }

  &__app {
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }

    &-point {
      $size: 20px;
      $message-width: 250px;

      position: absolute;
      z-index: 3;
      width: $size;
      height: $size;

      &.one {
        left: 25%;
        top: 40%;
      }

      &.two {
        left: 50%;
        top: 28%;
      }

      &.three {
        left: 55%;
        top: 75%;
      }

      &:hover {

      }

      &.active {

        .home_intro__app-point-message {
          display: block;
        }

        span {
          i {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }

      }


      span {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        padding: 2px 0 0 1px;
        width: $size;
        height: $size;
        color: $color-blue-indigo;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;

        i {
          font-style: normal;

          &:nth-child(2) {
            display: none;

          }
        }
      }

      &-message {
        position: absolute;
        z-index: 4;
        background-color: #fff;
        width: $message-width;
        border-radius: 10px;
        padding: 20px;
        display: none;

        &.left {
          left: -#{$message-width};
        }

        &.right {
          right: -#{$message-width};
        }

        &.top {
          transform: translateY(-100%);
          margin-top: -20px;
        }

        p {
          display: block;
          padding: 0;
          margin: 0 0 10px 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.3;
          color: $color-blue-indigo;
        }

        a {
          color: $color-blue-super;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

      }

    }

  }

  &__text {

    .btn {
      @include media(md) {
        display: none;
      }
    }

    h1 {
      font-size: 52px;
      color: #fff;
      @include media(xl) {
        font-size: 38px;
      }
      @include media(lg) {
        font-size: 28px;
      }
      @include media(md) {
        font-size: 24px;
        margin: 0 0 15px 0;
      }
    }

    p {
      display: block;
      max-width: 330px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.6;
      color: #fff;
      padding: 0;
      margin: 0 0 50px 0;
      @include media(md) {
        max-width: unset;
        font-size: 12px;
        font-weight: 500;
        margin: 0 0 20px 0;
      }
    }

  }

  &__sales {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 240px;
    @include media(lg) {
      width: 200px;
    }
    @include media(md) {
      position: relative;
      width: auto;
      top: unset;
      right: unset;
      transform: translateY(0);
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    > li {
      @include media(md) {
        width: 50%;
        padding: 0 15px;
        margin: 0 0 30px 0;
      }
      @include media(sm) {
        width: 100%;
        margin: 0 0 15px 0;
      }

      &:not(:last-child) {
        margin: 0 0 20px 0;
        @include media(md) {
          margin: 0 0 30px 0;
        }
        @include media(sm) {
          margin: 0 0 15px 0;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #699CED;
        border-radius: 10px;
        padding: 15px 20px;
        height: 110px;

        @include media(sm) {
          flex-direction: row;
          justify-content: unset;
          height: 60px;
          padding: 0px 25px;
          align-items: center;
        }

        &:hover {
          text-decoration: none;
          background-color: $color-blue-indigo;
        }

        &.archive {
          background-color: #fff;
          @include media(sm) {
            padding: 0 32px;
          }

          &:hover {
            background-color: $color-blue;
            border-color: $color-blue;

            p {
              color: #fff;
            }
          }

          p {
            color: $color-blue-indigo;
            padding: 0 0 4px 0;
            margin: 0;
            @include media(sm) {
              padding: 0;
            }
          }

          img {
            max-width: 32px;
            margin: 10px 0 0 0;
            @include media(sm) {
              margin: 0 15px 0 0;
            }
          }

        }

        small {
          background-color: $color-orange;
          border-radius: 4px;
          display: inline-block;
          width: 55px;
          color: #fff;
          font-weight: bold;
          font-size: 12px;
          background-color: $color-orange;
          padding: 5px 10px;
          @include media(sm) {
            height: 25px;
            padding: 0 10px;
            display: inline-flex;
            align-items: center;
            margin: 0 15px 0 0;
          }
        }

        p {
          padding: 0;
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
        }

      }

    }

  }

}
